# Email Configuration
EMAIL_USER=sivanomula@gmail.com
EMAIL_PASS=Durga@20132016

# Server Configuration
PORT=3000

# WhatsApp Configuration
WHATSAPP_NUMBER=UpdatePhoneNumber

# Company Information
COMPANY_EMAIL=info@watermelon.com
COMPANY_PHONE=+91 UpdatePhoneNumber 
